* {
    font-family: 'Optima', sans-serif;
    padding:0;
    margin:0;
    background-color:rgb(241, 221, 239);
    color: black;
}

img{
    display:block;
    opacity: 0.8;
    width:100%;
}

caption{
    margin-right:100px;
}

img:hover{
    opacity:1;
}

#about,
#worknav,
#contactme,
#resume {
    background-color:transparent;
    color: black;
    margin: 10px;

}

header {
    display: flex;
    padding: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #ff99ff;
    justify-content: space-between;
}

.name {
    margin-left:100px;
    padding-right: 50px;
    background-color:#ff99ff;

}

h1 {
    display: inline-block;
    font-size: 50px;
}


p {  display: flex;
    font-size: 25px;
    position: relative;
    margin-left: 20px;
}
a:link {
    text-decoration: none;
}

nav {
    padding-top: 10px;
    margin-right: 60px;
    background-color: transparent;
}

ul {
    background-color: transparent;
}

nav ul li {
   display: inline;
   font-size: 20px;
   background-color: transparent;

}

section ul li{
    display: inline;
    position: relative;
    margin-left: 500px;
}

/* .hero {
    width: 100%;
    height: 200px;
    object-fit: cover;
    overflow: hidden;
} */

.about-me {
    margin-top:50px;
    margin-right: 400px;
}

.about-me h2 {
   display: inline;
   position: absolute;
   margin-left: 300px;
   font-size: 2rem;
   padding: 5px 10px 0 0;
   text-align: right;
   margin-right: 20px;
   width: 120px;
}

.about-me p {
    display: flex;
    position: relative;
    margin-left: 500px;

}

.work{
    display: flex;
    margin-top: 50px;
    margin-right: 200px;
    padding-bottom: 100px;
    
}

.work h2 {
    display: inline;
    position:absolute;
    margin-left: 300px;
    font-size: 2rem;
    padding: 5px 10px 0 0;
    text-align: right;
    width: 120px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin-left: 490px;
    margin-right: 270px;
}

.portfolio-project img {
    height: 220px;
    width: 450px;
}

.portfolio-project {
    position:relative;
    border: 4px solid #ff99ff;
    border-radius: 4px;
    height: 220px;
    width: 450px;
    }
    
.portfolio-project:first-child {
    flex-grow: 1;
    width:100%;
    margin-bottom:10px;
}
.portfolio-project:first-child img{
    flex-grow: 2;
    width:100%;
    margin-bottom:10px;
}
#project2,
#project4 {
    margin-bottom: 10px;
    margin-right: 8px;
}


.contactme-container {
    display: flex;
    justify-content: space-evenly;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 45px;
    margin-bottom: 100px;
}

.contact-me h2 {
   display: inline;
   position: absolute;
   margin-left: 300px;
   font-size: 2rem;
    padding: 5px 10px 0 0;
    text-align: right;
    margin-right: 20px;
    width: 120px;
}

  
  @media screen and (max-width: 800px) {
    .container{
        flex-direction: column;
    }
    header {
        flex-direction: column;
        align-items: center;
    }
    header nav {
        display: flex;
        align-items: center;
        margin-left:80px;
    }
  }

  @media screen and (max-width: 150px) {
    .container{
        flex-direction: row;
  }
    header{
    text-align: center;
  }
    header nav {
   text-align: center;
  }
}
 