* {
    font-family: 'Optima', sans-serif;
    padding:0;
    margin:0;
    background-color:rgb(227, 188, 223);
    color: black;
}

img{
    width:38%;
}

/* MEDIA QUERIES */

@media all and (max-width: 1200px){ 
    /*Tablets [601px -> 1200px]*/
}
@media all and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
}
@media all and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
}